{% extends 'base.html' %}
{% load static%}
{% block content %} 

<main>
    <div class="main">

      <div class="container">

        <div class="blog">

          <h2 class="h2">Latest Blog Post</h2>

          <div class="blog-card-group">
    
            {% for post in posts %}

            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="{{ post.image.url }}" alt="Building microservices with Dropwizard, MongoDB & Docker"
                  width="250" class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">{{ post.topic }}</button>

                <h3>
                  <a href="{% url 'aboutPost'%}?id={{ post.id }}" class="h3">
                    {{ post.title }}
                  </a>
                </h3>

                <p class="blog-text">
                    {{ post.content }}
                </p>

                <div class="wrapper-flex">
                  <div class="wrapper">

                    <p class="text-sm">
                      <time datetime="{{ post.created_at }}">{{ post.created_at }}</time>
                    
                    </p>
                  </div>

                </div>

              </div>

            </div>
            {% endfor %}
          </div>
        </div>

        
        <div class="aside">

          <div class="topics">

            <h2 class="h2">Topics</h2>

            <a href="{% url 'index' %}?topic=Database" class="topic-btn">
              <div class="icon-box">
                <ion-icon name="server-outline"></ion-icon>
              </div>

              <p>Database</p>
            </a>

            <a href="{% url 'index' %}?topic=Front End" class="topic-btn">
              <div class="icon-box">
                <ion-icon name="accessibility-outline"></ion-icon>
              </div>

              <p>Front End</p>
            </a>

            <a href="{% url 'index' %}?topic=Back End" class="topic-btn">
              <div class="icon-box">
                <ion-icon name="rocket-outline"></ion-icon>
              </div>

              <p>Back End</p>
            </a>
            <a href="{% url 'index' %}?topic=other" class="topic-btn">
                <div class="icon-box">
                  <ion-icon name="flame-outline"></ion-icon>
                </div>
                <p>Other</p>
              </a>         
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}