<div class="aside">

    <div class="topics">

      <h2 class="h2">Topics</h2>

      <a href="{% url 'index' %}?topic=Database" class="topic-btn">
        <div class="icon-box">
          <ion-icon name="server-outline"></ion-icon>
        </div>

        <p>Database</p>
      </a>

      <a href="{% url 'index' %}?topic=Front End" class="topic-btn">
        <div class="icon-box">
          <ion-icon name="accessibility-outline"></ion-icon>
        </div>

        <p>Front End</p>
      </a>

      <a href="{% url 'index' %}?topic=Back End" class="topic-btn">
        <div class="icon-box">
          <ion-icon name="rocket-outline"></ion-icon>
        </div>

        <p>Back End</p>
      </a>
      <a href="{% url 'index' %}?topic=other" class="topic-btn">
          <div class="icon-box">
            <ion-icon name="flame-outline"></ion-icon>
          </div>
          <p>Other</p>
        </a>
     
     
    </div>

  </div>